*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.header{
    width: auto;
    height: 100px;
    background-color: rgb(230, 235, 81);
}
.maplogo{
    width: 70px;
}
.ic{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color: orange;
}
.directions{
    outline: none;
    width: 250px;
    border-radius: 20px;
    height: 30px;
    border: 1px solid orange;
    padding-left: 15px;
}
.maptext{
    font-size: 60px;
    margin-left: 230px;
}
.header{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}
.fa-solid{
    color: white;
    border: none;
    outline: none;
}
.fromtex{
    color:rgb(230, 235, 81) ;
    margin-bottom: 15px;
}
.from, .to{
    outline: none;
    width: 250px;
    padding-left: 20px;
    height: 35px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: rgb(220, 217, 217);
    border: 1px solid orange ;
}
.main{
    width: 320px;
    height: 280px;
    padding-left: 50px;
    padding-top: 30px;
    background-color: rgb(34, 32, 28);
    margin-left: 600px;
    margin-top: 80px;
    border-radius: 100px;
}
.searchbtn{
    width: 80px;
    height: 30px;
    margin-left: 90px;
    border-radius: 30px;
    border: none;
    background-color: rgb(230, 235, 81);
}
.pushing{
    margin-top: 50px;
}